<h1 id="Fedora-minimal">Fedora - minimal</h1>
<p>We have uploaded a new &quot;minimal&quot; template to our templates-itl repo. The template weighs only 150MB and has most of the stuff cut off, except for minimal X and xterm.</p>
<p>More into in ticket #828</p>
<h2 id="Install">Install</h2>
<p>It can be installed via the following command:</p>
<pre class="wiki"><code>[user@dom0 ~]$ sudo qubes-dom0-update qubes-template-fedora-20-x64-minimal</code></pre>
<h2 id="Usage">Usage</h2>
<p>It is a good idea to clone the original template, and make any changes in the new clone instead:</p>
<pre class="wiki"><code>[user@dom0 ~]$ qvm-clone fedora-20-x64-minimal &lt;your new template name&gt;</code></pre>
<h3 id="NetVM">NetVM</h3>
<p>If You want to use this template to for standard NetVMs You should install some more packeges:</p>
<pre class="wiki"><code>[user@F20-Minimal ~]$ sudo yum install NetworkManager network-manager-applet  wireless-tools dbus-x11 dejavu-sans-fonts</code></pre>
<p>And maybe some more optional but useful packages as well:</p>
<pre class="wiki"><code>[user@F20-Minimal ~]$ sudo yum install pci-tools vim-minimal less tcpdump</code></pre>
<p>If Your network device needs some firmware then you should also install the correspondong packages as well. The <code>lspci; yum search firmware</code> command will help to choose the right one :)</p>
<h3 id="ProxyVM">ProxyVM</h3>
<p>FIXME</p>
